body {
    background-image: url("../images/pinkdust.png");
}
.container {
    background-color: #fff;
}
img {
    height: 100px;
    padding: 10px;
}
button {
    background-color: #fff;
    border: none;
}
h1 {
    text-align: center;
    color: darkviolet;
    font-weight: bold;
}